@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900");

:root{
    --font: "Raleway", sans-serif;
    --color-pink: #ff589e;
    --color-text: #1e1e1e;
    --color-purple: #8261ee;
    --bg-gray:#f2f2fe;
    --color-main-text: #777;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
body{
    font-family: var(--font);
    color: var(--color-main-text);
}
.button{
    background-color: var(--color-purple);
    font-size: 13px;
    border-radius: 20px;
    color: #fff;
    transition: all 1s ease 0s;
    padding: 9px 15px;
}
.button:hover{
    background: var(--color-pink);
    color: #fff;
}
html {
    scroll-behavior: smooth;
  }